<article class="card post-card">
  {{if .Params.image}}
  <a class="post-image-wrapper" href="{{.Permalink}}" style="display: block; overflow: hidden; border-radius: 10px;">
    <img loading="lazy" class="w-100 rounded" src="{{ .Params.image | absURL}}" alt="{{.Title}}" style="transition: transform 0.4s ease; transform-origin: center;">
  </a>
  {{end}}
  <div class="card-body">
    <ul class="card-meta list-inline mb-2">
      <li class="list-inline-item mb-2">
        {{ with site.GetPage (.Params.Author | urlize | lower) }}
        <a href="{{.Permalink}}" class="card-meta-author">
          {{if .Params.image}}
          <img loading="lazy" src="{{.Params.image | absURL}}" alt="{{.Title}}">
          {{else}}
          <img loading="lazy" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=150&pg&d=identicon">
          {{end}}
          <span>{{ .Title }}</span>
        </a>
        {{ end }}
      </li>
      <li class="list-inline-item mb-2">
        <span>{{.PublishDate | time.Format ":date_long"}}</span>
      </li>
      <li class="list-inline-item mb-2 text-muted">|</li>
      <li class="list-inline-item mb-2">
        <span class="reading-time"><i class="fa-regular fa-clock mr-1"></i> {{ math.Round (div (countwords .Content) 200.0) }} min</span>
      </li>
      <li class="list-inline-item mb-2">
        <ul class="card-meta-tag list-inline">
          {{range .Params.tags}}

          <li class="list-inline-item"><a href="{{`tags` | absLangURL}}/{{.| urlize}}">{{.}}</a></li>
          {{end}}
        </ul>
      </li>
    </ul>
    <h3 class="mb-3">
      <a class="post-title" href="{{.Permalink}}">{{.Title}}</a>
    </h3>
    <p>{{ default (.Plain | truncate 150) .Params.description }}</p>

    <!-- <a href="{{.Permalink}}" aria-label="More on {{.Title}}">Read More <i class="las la-angle-right"></i></a> -->
  </div>
</article>
