{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <ul class="list-inline taxonomies-list">
          {{ if strings.HasSuffix .Permalink `tags/` }}
          {{ range .Site.Taxonomies.tags }}
          <li class="list-inline-item mb-2">
            <a class="taxonomy-pill" href="{{ .Page.Permalink }}">{{ .Page.Title }} <span class="pill-count">{{ .Count }}</span></a>
          </li>
          {{ end }}
          {{ end }}
          {{ if strings.HasSuffix .Permalink `categories/` }}
          {{ range .Site.Taxonomies.categories }}
          <li class="list-inline-item mb-2">
            <a class="taxonomy-pill" href="{{ .Page.Permalink }}">{{ .Page.Title }} <span class="pill-count">{{ .Count }}</span></a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
