<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <a class="navbar-brand font-weight-bold mr-0" href="{{ "" | absLangURL }}">
            {{if site.Params.logo}}
            <img loading="lazy" src="{{site.Params.logo | absLangURL}}" alt="{{site.Title}}"
              height="{{site.Params.logo_height}}">
            {{else}} {{site.Title}} {{end}}
          </a>

          <div class="d-flex align-items-center ml-auto d-lg-none">
            <div class="lang-segmented-switch mr-2" role="group" aria-label="Language Selector">
              {{ $currentPage := . }}
              {{ range site.Languages }}
                {{ $lang := .Lang }}
                {{ $isCurrent := eq $lang $currentPage.Lang }}
                {{ $url := "" }}
                {{ range $currentPage.AllTranslations }}
                  {{ if eq .Language.Lang $lang }}
                    {{ $url = .RelPermalink }}
                  {{ end }}
                {{ end }}
                {{ if not $url }}
                  {{ range site.Sites }}
                    {{ if eq .Language.Lang $lang }}
                      {{ $url = .Home.RelPermalink }}
                    {{ end }}
                  {{ end }}
                {{ end }}
                {{ if $isCurrent }}
                  <span class="lang-segment active" aria-current="true">{{ $lang | upper }}</span>
                {{ else }}
                  <a href="{{ $url }}" class="lang-segment" aria-label="{{ .LanguageName }}">{{ $lang | upper }}</a>
                {{ end }}
              {{ end }}
            </div>
            {{if site.Params.search}}
            <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
              <i class="las la-search"></i>
            </button>
            {{end}}
          </div>

          <div class="collapse navbar-collapse d-none d-lg-block" id="navHeader">
            <ul class="navbar-nav align-items-center {{ if site.Params.search }}mx-auto{{else}}ml-auto{{end}}">
              {{ $current := . }}
              {{ range site.Menus.main }}
              {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
              {{ $active = or $active (eq .Name $current.Title) }}
              {{if .HasChildren}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inline-block {{ if $active }}active{{ end }}" href="#"
                  role="button" data-toggle="dropdown" aria-expanded="false">{{.Name}}</a>
                <ul class="dropdown-menu">
                  {{range .Children}}
                  <li><a class="dropdown-item {{ if $active }}active{{ end }}" href="{{.URL | absURL}}">{{.Name}}</a>
                  </li>
                  {{end}}
                </ul>
              </li>
              {{else}}
              <li class="nav-item {{ if $active }}active{{ end }}">
                <a class="nav-link" href="{{.URL | absURL}}">{{.Name}}</a>
              </li>
              {{end}}
              {{end}}
            </ul>

            <div class="navbar-right d-none d-lg-flex align-items-center">
              <div class="lang-segmented-switch mr-3" role="group" aria-label="Language Selector">
                {{ $currentPage := . }}
                {{ range site.Languages }}
                  {{ $lang := .Lang }}
                  {{ $isCurrent := eq $lang $currentPage.Lang }}
                  {{ $url := "" }}
                  {{ range $currentPage.AllTranslations }}
                    {{ if eq .Language.Lang $lang }}
                      {{ $url = .RelPermalink }}
                    {{ end }}
                  {{ end }}
                  {{ if not $url }}
                    {{ range site.Sites }}
                      {{ if eq .Language.Lang $lang }}
                        {{ $url = .Home.RelPermalink }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                  {{ if $isCurrent }}
                    <span class="lang-segment active" aria-current="true">{{ $lang | upper }}</span>
                  {{ else }}
                    <a href="{{ $url }}" class="lang-segment" aria-label="{{ .LanguageName }}">{{ $lang | upper }}</a>
                  {{ end }}
                {{ end }}
              </div>
              {{if site.Params.search}}
              <ul class="social-links list-unstyled list-inline mb-0">
                <li class="list-inline-item">
                  <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
                    <i class="las la-search"></i>
                  </button>
                </li>
              </ul>
              {{end}}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Mobile Bottom Navigation -->
<nav class="mobile-bottom-nav d-lg-none" aria-label="Mobile Navigation">
  <div class="mobile-bottom-nav-container">
    {{ $current := . }}
    {{ range site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $urlLower := .URL | lower }}
      {{ $nameLower := .Name | lower }}

      {{ $icon := "fa-solid fa-compass" }}
      {{ if or (eq .URL "/") (eq .URL "") (in $nameLower "início") (in $nameLower "inicio") (in $nameLower "home") }}
        {{ $icon = "fa-solid fa-house" }}
      {{ else if or (in $urlLower "about") (in $nameLower "sobre") (in $nameLower "about") }}
        {{ $icon = "fa-solid fa-user" }}
      {{ else if or (in $urlLower "categor") (in $nameLower "categoria") (in $nameLower "categories") }}
        {{ $icon = "fa-solid fa-layer-group" }}
      {{ else if or (in $urlLower "author") (in $nameLower "autor") (in $nameLower "author") }}
        {{ $icon = "fa-solid fa-pen-nib" }}
      {{ end }}

      <a href="{{.URL | absURL}}" class="mobile-bottom-nav-item {{ if $active }}active{{ end }}" aria-label="{{.Name}}">
        <i class="{{ $icon }}"></i>
        <span class="mobile-bottom-nav-label">{{.Name}}</span>
      </a>
    {{ end }}
  </div>
</nav>

{{if site.Params.search}}
<div class="search-block">
  <div data-toggle="search-close">
    <i class="las la-times text-primary"></i>
  </div>
  <form action="{{ `search`| relURL }}">
    <input id="search-query" name="s" type="search" placeholder="Type words &amp; hit enter" class="text-center"
      aria-label="search-query">
  </form>
</div>
{{end}}
